<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        {{each students}}
        <p>
            <label for="id">ID: {{id}}</label>
        </p>
        <p>
            <label for="name">姓名：{{name}}</label>
        </p>
        <p>
            <label for="sex">性别：{{sex}}</label>
        </p>
        {{/each}}
    </div>
</body>
</html>